
<div id="head">
    <h1>Trainer</h1>
    <button (click)="toCatalogue()">The Catalogue →</button>
</div>

<!-- Checks wether pokemons have been fetched -->
<div *ngIf="pokemonList[0]">
    <div *ngIf="!avatarLoaded">
        <!-- Initiates loading of avatar data -->
        <div *ngIf="fetchAvatar()"></div>
    </div>

    <!-- Checks wether pokemons have been fetched -->
    <h2>My Pokémon Collection</h2>
    <div id="pokemons">
        <div id="pokemon" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];"> 
        <!-- <div id="pokemon" *ngFor="let item of pokemonList; let i = index"> -->
            <h2>{{ pokemonList[i].name }}</h2>
            <div *ngIf="pokemonList[i].imgUrl !== undefined">
                <img [src]="pokemonList[i].imgUrl" alt="" />
            </div>
            <button>Delete</button>
        </div>
    </div>
</div>