#pokemons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

#head {
	display: grid;
	grid-template-columns: 60% 40%;
}

#head button {
	height: 2em;
	margin: auto;
}

#pokemoncontainer {
	display: inline-block;
    border-radius: 5px;
    background-color: #474747;
	width: 16em;
}