#header {
    border-bottom: 5px solid #CC0000;
    text-align: left;
    background-color: #3c5aa6;
    height: 50px;
    padding-left: 10px;
    margin: 0px;
}
  
#header img {
    height: 40px;
    display: inline-block;
}

#headerTitle {
    color: #1f1f1f;
    position: absolute;
    padding: 10px;
    font-size: 20px;
}

#container {
    display: inline-block;
    padding: 0px 10% 0px 10%;
    border-radius: 5px;
    background-color: #3b3a3a;
}
